# Pycache
__pycache__/
*.pyc

# config.json
config.json

# Virtual Environments
.venv/
env10/

# Unity builds
NaviFlame_unity_visualizer/
NaviFlame_visualizer/
*.exe
*.dll

# Data and models
*.pkl
*.h5

# VSCode
.vscode/